html {
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(to top right, rgb(80, 78, 78), #272727);
  background-size: 100% 100%;
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: fade 2s
}


body {
  text-align: center;
}

h1 {
  animation: fade 2s
}
button {
  background-color: #222222; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
